/*
	Copyright: www.gabesmithtrombone.com 2017
	Created and powered by: CS4 Development
	Update: 6/20/2017
*/

/*Lessons Page*/
body.body {
	background-color: rgb(245, 232, 223);
	background: url('../images/ensemble.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	font-family: 'Raleway', sans-serif;
}
/*Standard Screens*/
@media screen and (min-width: 800px) {
	/*Header*/
	div.header header a {
		text-align: center;
		font-size: 70px;
		display: block;
		font-family: 'Raleway', sans-serif;
		color: black;
	    background-color: #DFECF5;
		}

	/*Nav bar*/
	.navbar {
		background-color: #DFECF5;
		padding-bottom: 1em;
	}
	div nav.navbar ul {
		list-style-type: none;
		text-align: center;
	}

	nav.navbar ul li {
		display: inline;
	}

	nav.navbar ul li a {
		font-family: 'Raleway', sans-serif;
		text-decoration: none;
		font-size: 20px;
		color: black;
		margin: 2em;
	}
	nav.navbar ul li a:hover {
		color: blue;
		border: 1px solid blue;
		border-right: none;
		border-left: none;
	}
	.mobilecontainer {
		display: none;
	}

	/*Icons*/
	div.icons {
		margin-top: -7.7em;
		text-align: right;
	}
	div.icons a {
		margin-right: 2em;
	}
	div.icons a img {
		filter: grayscale(10);
	}
	div.icons a img:hover {
		filter: none;
	}

	/*Testimonial*/
	.full-width-testimonial {
	  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.1)), url("https://upload.wikimedia.org/wikipedia/commons/8/82/Chicago_sunrise_1.jpg");
	  background-position: center center;
	  margin-top: 3em;
	}

	.full-width-testimonial-icon .quote-path {
	  fill: none;
	  stroke: #ffae00;
	  stroke-width: 2.5192;
	  stroke-miterlimit: 10;
	}

	.full-width-testimonial-content,
	.full-width-testimonial-icon {
	  text-align: center;
	}

	.full-width-testimonial-section {
	  padding-top: 2rem;
	}

	.full-width-testimonial-section .full-width-testimonial-text {
	  font-weight: 300;
	  color: #ffffff;
	  padding-left: 30px;
	  padding-right: 30px;
	  margin-top: -5px;
	  padding-left: 50px;
	  padding-right: 50px;
	  font-size: 1.5em;
	}

	@media print, screen and (min-width: 40em) {
	  .full-width-testimonial-section .full-width-testimonial-text {
	    padding-left: 100px;
	    padding-right: 100px;
	  }
	}

	@media print, screen and (min-width: 64em) {
	  .full-width-testimonial-section .full-width-testimonial-text {
	    padding-left: 180px;
	    padding-right: 180px;
	    font-size: 1.8em;
	  }
	}

	@media screen and (min-width: 75em) {
	  .full-width-testimonial-section .full-width-testimonial-text {
	    padding-left: 300px;
	    padding-right: 300px;
	  }
	}

	.full-width-testimonial-section .full-width-testimonial-source {
	  font-size: 1.2em;
	  font-weight: 600;
	  color: #ffffff;
	  text-transform: uppercase;
	  letter-spacing: 1.5px;
	  padding-bottom: 0;
	  margin-bottom: 0.2em;
	  font-size: 1.0em;
	}

	.full-width-testimonial-section .full-width-testimonial-source-context {
	  display: block;
	  font-size: 0.9em;
	  font-weight: 500;
	  color: #ffffff;
	  text-transform: uppercase;
	  letter-spacing: 1.5px;
	  font-size: 0.8em;
	}

	.full-width-testimonial-section .slick-slider {
	  margin-bottom: 0px;
	}

	.full-width-testimonial-text,
	.full-width-testimonial-content,
	.full-width-testimonial-source,
	.full-width-testimonial-icon {
	  padding-bottom: 2rem;
	}

	.full-width-testimonial-content {
	  width: 100%;
	}

	/*4 up*/
	.marketing-site-three-up {
	  text-align: center;
	  padding: 2rem 0;
	  background-color: rgb(245, 232, 223);
	}

	.marketing-site-three-up .row {
	  max-width: 900px;
	}

	.marketing-site-three-up .columns {
	  margin-bottom: 1rem;
	}

	@media screen and (min-width: 40em) {
	  .marketing-site-three-up .columns {
	    margin-bottom: 0;
	  }
	}

	.marketing-site-three-up .fa {
	  font-size: 3rem;
	  margin-bottom: 1rem;
	  color: #1779ba;
	}

	.marketing-site-three-up-headline {
	  margin-bottom: 2rem;
	  font-size: 24px;
	}
	i {
		font-size: 3em;
	}
	/*Info*/
	.tab-container {
		background-color: rgba(223, 236, 245, .9);
		padding-top: 8em;
		padding-bottom: 8em;
	}
	

	div.tabs-content {
		background-color: rgba(223, 236, 245, 0);
		border:none;

	}

	ul.tabs {
		display:none;
	}

	#tabs {
		float:none;
		margin-left: auto;
		margin-right:auto;
		text-align:center;
		background-color: none;
	}
	
	p#tab-head {
		font-size: 30px;
	}

	/*Footer*/
	footer {
		font-family: 'Raleway',sans-serif;
		color: black;
		text-align: center;
		background-color: rgba(223, 236, 245, .9);
	}
	footer a {
		text-decoration: none;
		color: black;
	}
	footer a:hover {
		color: blue;
	}

}


/*---Mobile Devices---*/
@media screen and (min-width: 0px) and (max-width:799px) {
	/*Header*/
	div.header {
		background-color: #DFECF5;
	}
	div.header header a {
		font-family: 'Raleway', sans-serif;
		color: black;
		text-align: center;
		font-size: 30px;
		display: block;
		padding-top: .6em;
		padding-bottom: 2em;
		background-color: #DFECF5;
	}
	div.header header a:hover {
		color: black;
	}
	/*Nav bar*/
	div nav.navbar ul {
		display: none;
	}
	/*Mobile Nav*/

	div.top-bar {
		background: none;
		margin-top: -7em;
	}

	
	.offcanvas-full-screen {
	  position: fixed;
	  z-index: 1;
	  transition: -webkit-transform 0.3s ease-in-out;
	  transition: transform 0.3s ease-in-out;
	  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
	  -webkit-backface-visibility: hidden;
	  backface-visibility: hidden;
	  background: rgba(1,1,1,.9);
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  -webkit-transform: translateX(-100%);
	  -ms-transform: translateX(-100%);
	  transform: translateX(-100%);
	  overflow-y: auto;
	}

	[data-whatinput='mouse'] .offcanvas-full-screen {
	  outline: 0;
	}

	.offcanvas-full-screen.is-transition-overlap {
	  z-index: 10;
	}

	.offcanvas-full-screen.is-transition-overlap.is-open {
	  box-shadow: 0 0 10px rgba(10, 10, 10, 0.7);
	}

	.offcanvas-full-screen.is-open {
	  -webkit-transform: translate(0, 0);
	  -ms-transform: translate(0, 0);
	  transform: translate(0, 0);
	}

	.offcanvas-full-screen.is-open ~ .off-canvas-content {
	  -webkit-transform: translateX(100%);
	  -ms-transform: translateX(100%);
	  transform: translateX(100%);
	}

	.offcanvas-full-screen.is-transition-push:after {
	  position: absolute;
	  top: 0;
	  right: 0;
	  height: 100%;
	  width: 1px;
	  box-shadow: 0 0 10px rgba(10, 10, 10, 0.7);
	  content: " ";
	}

	.offcanvas-full-screen.is-transition-overlap.is-open ~ .off-canvas-content {
	  -webkit-transform: none;
	  -ms-transform: none;
	  transform: none;
	}

	.offcanvas-full-screen-inner {
	  padding: 1rem;
	  text-align: center;
	}

	.offcanvas-full-screen-menu {
	  margin: 0;
	  list-style-type: none;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-flex-wrap: nowrap;
	  -ms-flex-wrap: nowrap;
	  flex-wrap: nowrap;
	  -webkit-align-items: center;
	  -ms-flex-align: center;
	  align-items: center;
	  width: 100%;
	  -webkit-flex-wrap: wrap;
	  -ms-flex-wrap: wrap;
	  flex-wrap: wrap;
	}

	.offcanvas-full-screen-menu li {
	  -webkit-flex: 0 0 auto;
	  -ms-flex: 0 0 auto;
	  flex: 0 0 auto;
	}

	[data-whatinput='mouse'] .offcanvas-full-screen-menu li {
	  outline: 0;
	}

	.offcanvas-full-screen-menu  li a {
	  display: block;
	  padding: 0.7rem 1rem;
	  line-height: 1;
	}

	.offcanvas-full-screen-menu input,
	.offcanvas-full-screen-menu select,
	.offcanvas-full-screen-menu a,
	.offcanvas-full-screen-menu button {
	  margin-bottom: 0;
	}

	.offcanvas-full-screen-menu li {
	  -webkit-flex: 0 0 100%;
	  -ms-flex: 0 0 100%;
	  flex: 0 0 100%;
	  max-width: 100%;
	}

	.offcanvas-full-screen-menu li a {
	  -webkit-justify-content: flex-start;
	  -ms-flex-pack: start;
	  justify-content: flex-start;
	  -webkit-align-items: flex-start;
	  -ms-flex-align: start;
	  align-items: flex-start;
	}

	.offcanvas-full-screen-menu a {
	  color: #fefefe;
	}

	.offcanvas-full-screen-menu a:hover {
	  color: #b2b2b2;
	}

	.offcanvas-full-screen-close {
	  color: #fefefe;
	  font-size: 5rem;
	}

	.offcanvas-full-screen-close:hover {
	  color: #b2b2b2;
	}

	
    /*Icons*/
	div.icons {
		text-align: right;
		margin-top: -3em;
		display: none;
	}
	div.icons a {
		margin: .2em;
	}
	div.icons a img {
		filter: grayscale(10);
	}
	div.icons a img:hover {
		filter: none;
	}

	/*Testimonial*/
	.full-width-testimonial {
	  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.1)), url("https://upload.wikimedia.org/wikipedia/commons/8/82/Chicago_sunrise_1.jpg");
	  background-position: center center;
	  margin-top: 3em;
	}

	.full-width-testimonial-icon .quote-path {
	  fill: none;
	  stroke: #ffae00;
	  stroke-width: 2.5192;
	  stroke-miterlimit: 10;
	}

	.full-width-testimonial-content,
	.full-width-testimonial-icon {
	  text-align: center;
	}

	.full-width-testimonial-section {
	  padding-top: 2rem;
	}

	.full-width-testimonial-section .full-width-testimonial-text {
	  font-weight: 300;
	  color: #ffffff;
	  padding-left: 30px;
	  padding-right: 30px;
	  margin-top: -5px;
	  padding-left: 50px;
	  padding-right: 50px;
	  font-size: 1.5em;
	}

	@media print, screen and (min-width: 40em) {
	  .full-width-testimonial-section .full-width-testimonial-text {
	    padding-left: 100px;
	    padding-right: 100px;
	  }
	}

	@media print, screen and (min-width: 64em) {
	  .full-width-testimonial-section .full-width-testimonial-text {
	    padding-left: 180px;
	    padding-right: 180px;
	    font-size: 1.8em;
	  }
	}

	@media screen and (min-width: 75em) {
	  .full-width-testimonial-section .full-width-testimonial-text {
	    padding-left: 300px;
	    padding-right: 300px;
	  }
	}

	.full-width-testimonial-section .full-width-testimonial-source {
	  font-size: 1.2em;
	  font-weight: 600;
	  color: #ffffff;
	  text-transform: uppercase;
	  letter-spacing: 1.5px;
	  padding-bottom: 0;
	  margin-bottom: 0.2em;
	  font-size: 1.0em;
	}

	.full-width-testimonial-section .full-width-testimonial-source-context {
	  display: block;
	  font-size: 0.9em;
	  font-weight: 500;
	  color: #ffffff;
	  text-transform: uppercase;
	  letter-spacing: 1.5px;
	  font-size: 0.8em;
	}

	.full-width-testimonial-section .slick-slider {
	  margin-bottom: 0px;
	}

	.full-width-testimonial-text,
	.full-width-testimonial-content,
	.full-width-testimonial-source,
	.full-width-testimonial-icon {
	  padding-bottom: 2rem;
	}

	.full-width-testimonial-content {
	  width: 100%;
	}

	/*4 up*/
	.marketing-site-three-up {
	  text-align: center;
	  padding: 2rem 0;
	  background-color: rgb(245, 232, 223);
	}
	
	.marketing-site-three-up .row {
	  max-width: 900px;
	}

	.marketing-site-three-up .columns {
	  margin-bottom: 1rem;
	}

	@media screen and (min-width: 40em) {
	  .marketing-site-three-up .columns {
	    margin-bottom: 0;
	  }
	}

	.marketing-site-three-up .fa {
	  font-size: 13rem;
	  margin-bottom: 1rem;
	  color: #1779ba;
	}

	.marketing-site-three-up-headline {
	  margin-bottom: 2rem;
	  font-size: 24px;
	}
	i {
		font-size: 3em;
	}

	/*Info*/
	.tab-container {
		background-color: rgba(223, 236, 245, .9);
		padding-top: 5em;
		padding-bottom: 8em;
	}
	

	div.tabs-content {
		background-color: rgba(223, 236, 245, 0);
		border:none;

	}

	ul.tabs {
		display:none;
	}

	#tabs {
		float:none;
		margin-left: auto;
		margin-right:auto;
		text-align:center;
		background-color: none;
	}
	
	p#tab-head {
		font-size: 30px;
	}

	/*Footer*/
	footer {
		font-family: 'Raleway', sans-serif;
		color: black;
		text-align: center;
		background-color: rgba(223, 236, 245, .9);
	}
	footer a {
		text-decoration: none;
		color: black;
		font-family: 'Raleway', sans-serif;
	}
	footer a:hover {
		color: blue;
	}

}