/*
	Copyright: www.gabesmithtrombone.com 2017
	Created and powered by: CS4 Development
	Update: 6/20/2017
*/

/*About Page*/
/*Standard Screens*/
@media screen and (min-width: 800px) {
	body.body {
		background-color: #f3f3f3;
		background-image: url('');
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		font-family: 'Raleway', sans-serif;
	}
	/*Header*/
	div.header header a {
		text-align: center;
		font-size: 70px;
		display: block;
		font-family: 'Raleway', sans-serif;
		color: black;
	}

	/*Nav bar*/
	div nav.navbar ul {
		list-style-type: none;
		text-align: center;
	}

	nav.navbar ul li {
		display: inline;
	}

	nav.navbar ul li a {
		font-family: 'Raleway', sans-serif;
		text-decoration: none;
		font-size: 20px;
		color: black;
		margin: 2em;
	}
	nav.navbar ul li a:hover {
		color: blue;
		border: 1px solid blue;
		border-right: none;
		border-left: none;
	}
	.mobilecontainer {
		display: none;
	}

	/*Icons*/
	div.icons {
		margin-top: -7.7em;
		text-align: right;
	}
	div.icons a {
		margin-right: 2em;
	}
	div.icons a img {
		filter: grayscale(10);
	}
	div.icons a img:hover {
		filter: none;
	}

	.about-the-author {
	  background-color: none;
	  padding: 1rem;
	  margin-top: 3em;
	}

	.about-the-author .separator-left {
	  text-align: left;
	}

	.about-the-author .separator-left::before, .about-the-author .separator-left::after {
	  display: table;
	  content: ' ';
	  -webkit-flex-basis: 0;
	      -ms-flex-preferred-size: 0;
	          flex-basis: 0;
	  -webkit-order: 1;
	      -ms-flex-order: 1;
	          order: 1;
	}

	.about-the-author .separator-left::after {
	  clear: both;
	}

	.about-the-author .separator-left::after {
	  position: relative;
	  width: 5rem;
	  border-bottom: 0.125rem solid #1779ba;
	  margin: 0.3rem auto 0;
	  margin-left: 0;
	}

	.about-the-author .author-title {
	  text-transform: uppercase;
	}

	.about-the-author .author-image {
	  border: 1px solid #cacaca;
	}



	/*Footer*/
	footer {
		font-family: 'Raleway',sans-serif;
		margin-top: 3em;
		color: black;
		text-align: center;
	}
	footer a {
		text-decoration: none;
		color: black;
	}
	footer a:hover {
		color: blue;
	}

}


/*---Mobile Devices---*/
@media screen and (min-width: 0px) and (max-width:799px) {
	html body {
		background-color: #E4E4E4;
	}
	/*Header*/
	div.header header a {
		font-family: 'Raleway', sans-serif;
		color: black;
		text-align: center;
		font-size: 30px;
		display: block;
		margin-top: .6em;
	}

	div.header header a:hover {
		color: black;
	}
	/*Nav bar*/
	div nav.navbar ul {
		display: none;
	}

	/*Mobile Nav*/

	div.top-bar {
		background: none;
		margin-top: -3.3em;
	}

	
	.offcanvas-full-screen {
	  position: fixed;
	  z-index: 1;
	  transition: -webkit-transform 0.3s ease-in-out;
	  transition: transform 0.3s ease-in-out;
	  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
	  -webkit-backface-visibility: hidden;
	  backface-visibility: hidden;
	  background: rgba(1,1,1,.9);
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  -webkit-transform: translateX(-100%);
	  -ms-transform: translateX(-100%);
	  transform: translateX(-100%);
	  overflow-y: auto;
	}

	[data-whatinput='mouse'] .offcanvas-full-screen {
	  outline: 0;
	}

	.offcanvas-full-screen.is-transition-overlap {
	  z-index: 10;
	}

	.offcanvas-full-screen.is-transition-overlap.is-open {
	  box-shadow: 0 0 10px rgba(10, 10, 10, 0.7);
	}

	.offcanvas-full-screen.is-open {
	  -webkit-transform: translate(0, 0);
	  -ms-transform: translate(0, 0);
	  transform: translate(0, 0);
	}

	.offcanvas-full-screen.is-open ~ .off-canvas-content {
	  -webkit-transform: translateX(100%);
	  -ms-transform: translateX(100%);
	  transform: translateX(100%);
	}

	.offcanvas-full-screen.is-transition-push:after {
	  position: absolute;
	  top: 0;
	  right: 0;
	  height: 100%;
	  width: 1px;
	  box-shadow: 0 0 10px rgba(10, 10, 10, 0.7);
	  content: " ";
	}

	.offcanvas-full-screen.is-transition-overlap.is-open ~ .off-canvas-content {
	  -webkit-transform: none;
	  -ms-transform: none;
	  transform: none;
	}

	.offcanvas-full-screen-inner {
	  padding: 1rem;
	  text-align: center;
	}

	.offcanvas-full-screen-menu {
	  margin: 0;
	  list-style-type: none;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-flex-wrap: nowrap;
	  -ms-flex-wrap: nowrap;
	  flex-wrap: nowrap;
	  -webkit-align-items: center;
	  -ms-flex-align: center;
	  align-items: center;
	  width: 100%;
	  -webkit-flex-wrap: wrap;
	  -ms-flex-wrap: wrap;
	  flex-wrap: wrap;
	}

	.offcanvas-full-screen-menu li {
	  -webkit-flex: 0 0 auto;
	  -ms-flex: 0 0 auto;
	  flex: 0 0 auto;
	}

	[data-whatinput='mouse'] .offcanvas-full-screen-menu li {
	  outline: 0;
	}

	.offcanvas-full-screen-menu  li a {
	  display: block;
	  padding: 0.7rem 1rem;
	  line-height: 1;
	}

	.offcanvas-full-screen-menu input,
	.offcanvas-full-screen-menu select,
	.offcanvas-full-screen-menu a,
	.offcanvas-full-screen-menu button {
	  margin-bottom: 0;
	}

	.offcanvas-full-screen-menu li {
	  -webkit-flex: 0 0 100%;
	  -ms-flex: 0 0 100%;
	  flex: 0 0 100%;
	  max-width: 100%;
	}

	.offcanvas-full-screen-menu li a {
	  -webkit-justify-content: flex-start;
	  -ms-flex-pack: start;
	  justify-content: flex-start;
	  -webkit-align-items: flex-start;
	  -ms-flex-align: start;
	  align-items: flex-start;
	}

	.offcanvas-full-screen-menu a {
	  color: #fefefe;
	}

	.offcanvas-full-screen-menu a:hover {
	  color: #b2b2b2;
	}

	.offcanvas-full-screen-close {
	  color: #fefefe;
	  font-size: 5rem;
	}

	.offcanvas-full-screen-close:hover {
	  color: #b2b2b2;
	}
	/*Bio*/
	.about-the-author {
	  background-color: #E4E4E4;
	  padding: 1rem;
	}

	.about-the-author .separator-left {
	  text-align: left;
	}

	.about-the-author .separator-left::before, .about-the-author .separator-left::after {
	  display: table;
	  content: ' ';
	  -webkit-flex-basis: 0;
	      -ms-flex-preferred-size: 0;
	          flex-basis: 0;
	  -webkit-order: 1;
	      -ms-flex-order: 1;
	          order: 1;
	}

	.about-the-author .separator-left::after {
	  clear: both;
	}

	.about-the-author .separator-left::after {
	  position: relative;
	  width: 5rem;
	  border-bottom: 0.125rem solid #1779ba;
	  margin: 0.3rem auto 0;
	  margin-left: 0;
	}

	.about-the-author .author-title {
	  text-transform: uppercase;
	}

	.about-the-author .author-image {
	  border: 1px solid #cacaca;
	}

    /*Icons*/
	div.icons {
		text-align: right;
		margin-top: -3em;
		display: none;
	}
	div.icons a {
		margin: .2em;
	}
	div.icons a img {
		filter: grayscale(10);
	}
	div.icons a img:hover {
		filter: none;
	}

	/*Footer*/
	footer {
		font-family: 'Raleway', sans-serif;
		margin-top: 5em;
		color: black;
		text-align: center;
	}
	footer a {
		text-decoration: none;
		color: black;
		font-family: 'Raleway', sans-serif;
	}
	footer a:hover {
		color: blue;
	}

}